<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{ISO8601} [%highlight{%-5level}] $${sys:spring.application.name} %style{%X{traceId}}{bright cyan} %style{%X{x-request-id}}{bright magenta} %style{%X{x-transaction-id}}{bright yellow} [%t] %c{1.} - msg=%msg%n%throwable"
                    disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.realtime.leader.board" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
